[submodule "stowsh"]
	path = stowsh
	url = https://github.com/everbird/stowsh.git
[submodule "bundle/tmux-tpm"]
	path = bundle/tmux-tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bundle/zplug"]
	path = bundle/zplug
	url = https://github.com/zplug/zplug
